## .NET Core / .NET 5+ / .NET 6–9 ##
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/

# Build results
*.dll
*.exe
*.app
*.log
*.cache
*.pdb
*.mdb
*.xml
*.deps.json
*.runtimeconfig.json

# NuGet packages
*.nupkg
*.snupkg
packages/
*.nuspec

# Visual Studio Code
.vscode/

# Rider
.idea/

# ReSharper
_ReSharper*/
*.DotSettings.user

# Local test results
TestResults/
*.coverage
*.coveragexml
*.trx

# Global.json user-local SDK settings
global.json.user

# Dotnet CLI tool restore cache
.dotnet_tool/

# Mac
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Logs
*.log

# Temporary
*.tmp
*.bak
*.swp

# Paket
.paket/
paket-files/

# JetBrains Rider User-specific
*.sln.iml

# Optional: если используешь GitVersion
GitVersion.yml
.gitversion

# Optional: если используешь GitHub Actions
*.code-workspace
