# .NET build folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Build results
*.dll
*.exe
*.app
*.pdb
*.cache
*.mdb
*.log

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# Rider & JetBrains IDEs
.idea/

# VS for Mac
*.pidb
*.ide

# Others
*.db
*.DS_Store
*.Thumbs.db

# Resharper / dotCover
_ReSharper*/
*.DotSettings.user
.idea/
